[flake8]
annoy = true
assertive-snakecase = true
cohesion-below = 20.0
docstring-convention = all
ignore = D203,D213,D214,D406,D407,G004,PD005,PD011,S322,SC100,SC200,W503
max-cognitive-complexity = 5
max-function-length = 55
max-line-length = 120
max-parameters-amount = 6
per-file-ignores=test_*.py:S101
select = A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z
whitelist = .whitelist.txt
