body {
    margin: 0;
    border: 0;
    height: 100%;
    min-height: 0;
}

/*
.app-content {
    max-width: 1050px;
    margin-right: auto;
    margin-left: auto;
}

.rc-slider {
    min-height: 45px;
}
 */
