body {
    margin: 0;
    border: 0;
    height: 100%;
    min-height: 0;
}

/* Override bootstrap max-width to better fill the window */
.container {
    max-width: 95%;
}

/* PLANNED: Add a class specifically for sliders that need additional height */
.rc-slider-with-legend {
    min-height: 45px;
}

/* PLANNED: Implement user-customizable styles, but for now manually add this */
/* Will probably move all assets to a temporary directory, then add the user's specified files. Will need to cleanup dir */
iframe#plaid-link-iframe-1 {
    height: 100vh;
}
