---
# Docs: https://github.com/marketplace/actions/github-labeler

name: github_labeler

# Run on "push" for first initialization, then only on PR's thereafter
# on: push
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - main

jobs:
  labeler:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Run Labeler
        if: success()
        uses: crazy-max/ghaction-github-labeler@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.yml
          skip-delete: false
          dry-run: false
